/Java/T1/nbproject/private/
/Java/T2/nbproject/private/
/Java/T3/nbproject/private/
/Java/Practicas/nbproject/private/
/Java/T3/build/
/Java/ProyectosMios/nbproject/private/
/Java/ProyectosMios/build/
/Java/ProyectosMios/dist/
/Java/AdivinaLaBandera/nbproject/private/
